<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Album Database</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.css"/>
    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">

  </head>
  <body>
<h1><a href="/">Album Database</a></h1>
<div class="main_nav">
  <nav>
    <ul class="nav_bar">
      <li><a href="/albums/search"><i class="fas fa-search"></i></a></li>
      <li><a href="/albums/add"><i class="fas fa-plus"></i></a></li>
      <li><a href="/artists"><i class="fas fa-male"></i></a></li>
      <li><a href="/albums"><i class="fas fa-compact-disc"></i></a></li>
    </ul>
  </nav>
</div>

<section id="content">
  <%= yield %>
</section>

  </body>
</html>
