<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Album Database</title>

    <link rel="stylesheet" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">

  </head>
  <body>
<h1>Album Database</h1>
<nav>
  <ul>
    <li><a href="/albums">Your Albums</a></li>
    <li><a href="/artists">Your Artists</a></li>
    <li><a href="/albums/search">Find an Album</a></li>
    <li><a href="/albums/add">Add an Album</a></li>
  </ul>
</nav>

<section id="content">
  <%= yield %>
</section>

  </body>
</html>
