/*
#fcf9f4 = Floral White. #ffe47a = Yellow.
*/

body {
  background-color: #f3d34a;
}

h1 {
  justify-content: center;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color: #fcf9f4 !important;
  text-decoration: underline;
}

h2 {
  font-family: 'Varela Round', sans-serif;
}

h3 {
  font-family: 'Varela Round', sans-serif;
}

p {
  font-family: 'Varela Round', sans-serif;
}

nav {
  font-family: 'Varela Round', sans-serif;
}

ul {
  font-family: 'Varela Round', sans-serif;
}

.main_nav {
  flex-direction: row;
  flex-wrap: wrap;
}

.nav_bar {
  list-style-type: none;
  flex-direction: row;
}

.artist_details {
  justify-content: flex-end;
  color: #F2F1EF
}

:content {
  justify-content: center;
}

.fab fa-spotify {
  height: 20px;
}

a {
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  color: black
};

a: hover {
  text-decoration: none;
  color: white
};

a: visited {
  color: blue
}

:index {
  color: #333
}
