<h2>Your <%= Album.count%> Albums</h2>

<ul>
  <% for album in @albums %>
  <li class="index"> <a href="/albums/<%=album.id%>/show" class="artwork"><%= album.title %></a>

  <a href="/<%=album.id%>/toggle-favourite">

    <% if album.favourite? %>
      <i class="fas fa-star"></i>
    <% else %>
      <i class="far fa-star"></i>
    <% end %>

   </li>
  <% end %>
</ul>
