<h2>Your Artists</h2>

<ul>
  <% for artist in @artists %>
  <li class="index"><a href="/artists/<%=artist.id%>/show"><%= artist.name %></a></li>
  <% end %>
</ul>

<a href="/artists/clean">Clean up</a>
