<h2>Your Artists</h2>

<ul class="index">
  <% for artist in @artists %>
  <li><a href="/artists/<%=artist.id%>/show"><%= artist.name %></a></li>
  <% end %>
</ul>

<a href="/artists/clean">Clean up</a>
